@import 'variables.scss';

.services{
    position: relative;

    height: 1600px;
    padding-top: 245px;

    text-align: center; 

    background-image: url(../assets/img/services_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (max-width: 992px) {
       height: 1600px;
       padding-top: 180px;
    }

    .title{
        font-family: 'HelveticaNeueLTPro Lt',  'Arial', serif;
        color: #fff;
        font-size: 34px;
        line-height: 34px;
    }
    
    .tagline{
        margin-bottom: 210px;

        font-family: 'Merriweather Light', 'Arial', serif;
        font-size: 16px;
        line-height: 26px;
        color: $tagline_services_color;

        @media screen and (max-width: 992px) {
            margin-bottom: 50px;
        }
    }

    button{
        @media screen and (max-width: 992px) {
            margin-bottom: 30px;
        }

        img{
            @media screen and (max-width: 992px) {
                width: 100px;
                height: 100px;
            }
        }
        .servic{
            margin: 40px 0 30px 0;

            font-family: 'HelveticaNeueLTPro Lt', 'Arial', sans-serif;
            font-size: 26px;
            line-height: 26px;
            color: #fff;

            @media screen and (max-width: 992px) {
                margin: 20px 0 10px 0;
            }
        }

        .text{
            font-family: 'HelveticaNeueLTPro Lt', 'Arial', sans-serif;
            font-size: 18px;
            line-height: 23px;
            color: $text_services_color;
        }
    }

    .chat{
        position: absolute;
        bottom: 0px;
        height: 700px;
        z-index: 1;

        padding-top: 180px;

        background-image: url(../assets/img/chat.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        clip-path: polygon(0% 0%, 0% 90%, 100% 80%, 100% 0%);
        

        @media screen and (max-width: 992px) {
           padding-top: 250px;
         }
        .visit{
            padding: 25px 55px;

            font-family: 'HelveticalNeueLTPro Md', 'Arial', serif;
            font-size: 16px;
            line-height: 26px;
            text-transform: uppercase;
            color: #000;

            background: #fff;

            @media screen and (max-width: 992px) {
               padding: 15px 25px;
            }

            @media screen and (max-width: 576px) {
                font-size: 12px;
                line-height: 15px;; 
            }
        }
    }
}