$top_line_text_color: #989696;
$tagline_color: #898888;
$tagline_about_color: #b7b7b7;
$title_about_color: #fefefe;
$title_team_color: #1d1e1f;
$name_color: #464646;
$profession_color: hsl(0, 0%, 70%);
$tagline_services_color: #777777;
$text_services_color: #383838;
$submit_button_color: #161616;
$footer_color: #3b3b3b;